## LaTeX compilation artifacts

# Auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

# Bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Intermediate documents
*.dvi
*.xdv
*.ps
*.eps

# Output (uncomment if you want to ignore the generated PDF)
# *.pdf
